body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.revelarCelda {
  font-size: 1.5rem;
  padding: .5rem;
  border: 2px solid blue;
  margin: 0 1rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔍</text></svg>") 16 0, help;
}

.revelarTablero {
  font-size: 1.5rem;
  padding: .5rem;
  border: 2px solid blue;
  margin: 0 1rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏁</text></svg>") 16 0, auto;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b9d6e0;
  border-radius: 8px;
  margin: 5px;
}

.satisfies {
  background: green;
  color: white;
  font-size: 125%;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;
}

.game h1 {
  border-bottom: 2px solid blue;
}

.game > div {
  margin-top: 2rem;
}

.gameInfo {
  margin-left: 20px;
}